.recentWork{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.recentWork:nth-child(even){
    flex-direction: row-reverse;
}
.recentWork:nth-child(odd) .detail{
    text-align: left;
}
.recentWork:nth-child(even) .detail{
    text-align: right;
}
.detail{
    width: 35%;
}
.HeadingDiv h3{
    color: var(--text-color);
}
.image {
    width: 65%;
    padding: 0px 50px;
    box-sizing: border-box;
    border-radius: 20px;
}
.image img{
    border-radius: 20px;
    width: 100%;
}

.detail .projectDetail{
    margin-top: 30px;
}
.detail h2{
    font-size: 50px;
    color: var(--text-color);
}
.detail p{
    font-size: 22px;
}

.projectDetailBtn{
    border:1px solid var(--text-color);
    color:var(--text-color);
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    transition: all .5s ease;
}
.projectDetailBtn:hover{
    background-color: var(--text-color);
    color: var(--text-h-color) !important;
    border-color: white;
}
.videoDiv{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
  transform: translateX(-50%);
}





.whoWeAreMain{
    margin-top: 15%;
  }
.whoeWeAreDiv{
    margin-top:150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.whoWeAre {
    width: 49%;
    border: 1px solid var(--text-color);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.whoWeAre:nth-child(even){
    margin-top: 100px;
    margin-bottom: -65px;
}
.whoWeAre .serviceIconDiv{
    color: var(--text-color);
}
.whoWeAre .serviceName{
    align-self: end;
    font-size: 35px;
    width: 70%;
    text-align: right;
    color: var(--text-color);
}
.dribbleMain{
    position: relative;
    margin-top: -200px;
}
.dribble img{
    width: 100%;
    border-radius: 30px;
}
.dribble {
    width: 48%;
    margin-top: -130px;
}
.dribbleDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dribbleBack{
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: -1; */
}
.dribbleBack h1{
    text-align: center;
    color: var(--text-color);
}
.partnerLoveMain{
    margin-top: 20%;
}
.socialMain{
    margin-top: 10%;
}
.socials {
    margin-top: 100px;
}
.social {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    padding: 30px 0px;
    align-items: center;
}

.social .name {
    font-size: 30px;
}
.social .logo{
    transition: all 2s ease;
}
.socials a {
    text-decoration: none;
    color: var(--text-color);
    /* color: black; */
    width: 50%;
    display: block;
    transition: width 1s ease-in;
    margin: 0 auto;
}
.socials a:hover .social .logo{
    transform: rotate(360deg);
}

.socials.active a{
    opacity: .3;
}

.socials.active a:hover{
    width: 70%;
    opacity: 1 !important;
}


.tiles {
    position: relative;
    display: flex;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
  }
  
  .tiles__line {
    display: flex;
    width: fit-content;
    position: relative;
    justify-content: center;
  }
  .inverse {
    display: flex;
    width: fit-content;
    position: relative;
    justify-content: center;
    margin-top: -60px;
  }
  .height-auto {
    height: auto;
  }
  .autoSlider {
    position: relative;
    height: 90vh;
    color: var(--text-color);
    /* color: black; */
    overflow: hidden;
    margin-top: 10%;
  }
  .tiles__line-img {
    flex: none;
    font-size: 150px;
  }
  
  .tiles__line-img--large {
    width: 100vh;
    border-radius: 40vh;
  }



.testimonial-slider {
    padding: 40px 0;
}

.testimonial-slide {
    text-align: center;
    padding: 70px 30px 0px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 30px;
    transition: transform 0.5s;
    border: 1px solid;
    box-sizing: border-box;
    transition: all .5s ease;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    height: 550px;
    border-color:  var(--text-color);
    background-color: var(--bg-color);
}
.testimonial-slide:hover{
    /* background-color: #f5f5f5;
    border-color:#f5f5f5 ; */
    background-color: var(--bg-h-color);
    border-color:  var(--bg-h-color);
}
.testimonial-content {
    padding: 20px;
}
.testimonial-content-b {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.testimonial-content-b h4,.testimonial-content-b span{
    width: 100%;
}
.testimonial-svg{
    height: fit-content;
}
.testimonial-content p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.testimonial-content h4 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.testimonial-content span {
    font-size: 1em;
    color: #666;
}

.testimonialSliderMain{
    margin-top: 10%;
}
.testimonial-slider .slick-slide {
    margin: 0 20px;
}

.testimonial-slider .slick-track {
    display: flex;
}

.testimonial-slider .slick-slide {
    display: flex;
    justify-content: center;
}
.testimonial-pi{
    transition: transform 0.6s ease;
    width: 100%;
}
.testimonial-piDiv{
    overflow: hidden;
    width: 15%;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-slide:hover .testimonial-pi{
    transform: scale(1.3) rotate(-10deg);
}
