*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter Tight", Sans-serif;
    border:1px solid purple;
    /* overflow-x: hidden; */

}
body{
    overflow-x: hidden;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}